* {
  font-family: "Kanit", sans-serif;
}

.srb {
  font-family: "Sarabun", sans-serif;
}

.kn {
  font-family: "Kanit", sans-serif;
}

.readmore-news {
  color: #b43d3e;
}

p.pabout {
  text-indent: 1.5rem;
  text-align: justify;
}

p.date-text {
  text-align: left;
  font-size: 14px;
  color: #797979;
  margin-bottom: 0;
}
.text-account {
  color: #959595;
  font-size: 15px;
}
.text-account:hover {
  color: #959595;
}
.fs-15 {
  font-size: 15px;
}
h1.title-slide {
  font-size: 9vmin;
  font-weight: 700;
}
