.navbar.navbar-dark .breadcrumb .nav-item>.nav-link,
.navbar.navbar-dark .navbar-nav .nav-item>.nav-link {
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  font-weight: 400;

}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link,
.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
  background-color: rgba(180, 61, 62, 0.9);
  ;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

.navbar.navbar-dark .breadcrumb .nav-item:hover>.nav-link,
.navbar.navbar-dark .navbar-nav .nav-item:hover>.nav-link {
  background-color: rgba(180, 61, 62, 0.9);
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.page-footer,
.top-nav-collapse {
  background-color: #060e21;
}


@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #060e21;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #060e21 !important;
  }
}